#myinput {
    text-transform: uppercase;
}
#myword, #result {
    font-size: 600%;
    letter-spacing: 0.5em;
    min-height: 135px;
}
.hidden {
    display: none;
}
.allGreen {
    background: #b9f6ca;
}
