#myinput {
    text-transform: uppercase;
}
#myword, #result {
    font-size: 600%;
    letter-spacing: 0.5em;
    min-height: 135px;
}
#myword > span {
  padding-left: 45px;
}
.hidden {
    display: none;
}
.allGreen {
    background: #b9f6ca;
}
.bigNoNo {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
.bigNoNoBG {
	background-color: #ffd8d8;
}
.bigNoNoChar {
	color: red;
}
.circle {
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-left: 45px;
}
